.container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.featured-image {
  width: 100%;
  height: 10em;
  background-size: cover;
  background-position: center;
  border-radius: 0.5em;
}
.logo {
  margin-top: -50px;
  width: 100%;
  margin-left: 20px;
}

.logo img {
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgba(90, 90, 90, 0.2);
}

.city-state {
  font-size: 0.8em;
  color: #646464;
  margin-top: -12px;
  padding-top: 0px;
}

.meta-button {
  padding: 2em;
  margin: 0.5em;
}
.name h2 {
  margin: 0.25em;
  font-size: 2em;
  color: #333;
}
.name {
  margin-top: -10px;
}
