<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Menu</mat-card-title>
    <mat-card-subtitle
      >Click to Edit. Drag and drop to sort.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div cdkDropListGroup>
      <div class="container">
        @for (section of sections; track section.title) {
        <div class="header-items-container">
          <h4>{{ section.title }}</h4>

          <div
            cdkDropList
            [cdkDropListData]="section.menuItems"
            class="list"
            (cdkDropListDropped)="drop($event)"
          >
            @for (item of section.menuItems; track item.name) {
            <div (click)="itemClicked(item)" class="box" cdkDrag>
              <div class="sort-content">
                <div class="sort-name">
                  <b
                    >{{
                      item.name.length > 30
                        ? item.name.substring(0, 30) + "..."
                        : item.name
                    }}
                  </b>
                </div>

                <div class="sort-description">
                  {{
                    item.description.length > 30
                      ? item.description.substring(0, 30) + "..."
                      : item.description
                  }}
                </div>
                <div class="sort-price">
                  <i>{{ item.price | currency }}</i>
                </div>
              </div>

              @if (item.imagePath) {
              <img height="30px" [src]="item.imagePath" />
              }
            </div>
            }
          </div>
        </div>
        }
      </div>
    </div>
  </mat-card-content>
</mat-card>
