<mat-toolbar>
  <span>MenuMaker</span>
  <span class="spacer"></span>

  @if (isAuthenticated){
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="share"
    [routerLink]="['/menu/' + user?.id]"
  >
    <mat-icon>share</mat-icon>
  </button>
  <button
    (click)="logoutClicked()"
    mat-icon-button
    class="example-icon"
    aria-label="logout"
  >
    <mat-icon>logout</mat-icon>
  </button>

  } @else{
  <button
    mat-icon-button
    class="example-icon"
    aria-label="login"
    [routerLink]="['/auth']"
    routerLinkActive="router-link-active"
  >
    <mat-icon>login</mat-icon>
  </button>
  }
</mat-toolbar>
