:host {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 2em;
  flex-wrap: wrap;
}
.container {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}
.preview-card {
}
