<div class="container">
  <mat-tab-group>
    @for (section of sections; track section.title) {

    <mat-tab [label]="section.title">
      @for (menuItem of section.menuItems; track menuItem) {
      <div class="menu-item-container">
        <div class="menu-item-content">
          <h4>{{ menuItem.name }}</h4>

          <p class="description">{{ menuItem.description }}</p>
          <p class="price">{{ menuItem.price | currency }}</p>
        </div>
        @if (menuItem.imagePath){
        <div class="image-container">
          <img height="200px" [src]="menuItem.imagePath" />
        </div>

        }
      </div>
      }</mat-tab
    >
    }
  </mat-tab-group>
</div>
